* {
	font-family: "Myriad Pro", monospace;
}

.containerblock{
	margin-top: 4%;
	position: absolute;
	width: 50%;
	height: 50%;
	margin-left: 4%;
}

.title {
    font-size:160px;
    color: #451813;
	position: absolute;
}
.tip{
    font-size: 60px;
    color: #a95534;
	position: absolute;

}

.button{
	display: block;
    position: absolute;
    transform: translate(-50%, -50%);
    background: #451813;
    width: 240px;
    height: 70px;
    font-size: 30px;
	top: 66%;
	left: 49%;
	transition-duration: 300ms;
	text-decoration: none;
	color: white;
}

.button:hover{
	box-shadow: 0px 0px 13px black;
}

.button:active{
	font-size: 28px;
	box-shadow: 0px 0px 10px black;
	width: 238px;
    height: 68px;
}

.button p {
	position: absolute;
	display: block;
	transform: translate(-50%, -50%);
	left: 50%;
	top: 8%;
}

/* .find_form{
	position: absolute;
	margin-top: 50%;
	border: solid black;

	
} */

.comment {
	color: gray;
	position: absolute;
	top: 400px;
	left: 868px;
	opacity: 0;
}

.search{
	position: absolute;
	top: 50%;
    left: 4%;
}


.products {
	/*border: solid black;*/
	width: 1000px;
	height: 150px;
	transform: translate(-50%);
	left: 70%;
	top: 425px;
	position: absolute;
	color: white;
	display: flex;
	flex-wrap: wrap;
	list-style:none;
	transition-duration: 200ms;
}

.products .product {
	transition-duration: 200ms;
	max-height: 20px;
	min-width: 20px;
	color: white;
	background-color: black;
	transition-duration: 500ms;
	border-radius: 10px;
	padding: 5px;
	text-align: center;
	margin-right: 5px;
}

.products .product p {
	position: relative;
	transform: translate(-50%, -50%);
	left: 50%;
	bottom: 20%;
}

.products .product:hover {
	cursor: pointer;
	box-shadow: 0px 0px 10px black;
	user-select: none;
}