.title {
	position: absolute;
	margin-top: 20px;
	font-size: 90px;
	margin-left: 10%;
}

.block_title {
	font-size: 55px;
}

.dish {
	width: 80%;
	height: 500px;
	position: absolute;
	transform: translate(-50%);
	top: 200px;
	left: 50%;
	overflow: hidden;
}

.dish table {
	width: 100%;
	height: 500px;
}

.dish * {
	/*border: solid black;*/
	border-spacing: 0;
}

.dish .dish_info {
	color: white;
	width: 50%;
	text-align: center;
	background-color: rgba(0,0,0,0.2);
}
.dish .dish_info h2 {
	position: absolute;
	transform: translate(-50%, -50%);
	left: 25%;
	top: 10%;
	font-size: 80px;
}

.dish .dish_info .user {
	width: 50%;
	height: 100px;
	position: absolute;
	transform: translate(-50%);
	top: 35%;
	left: 25%;
}

.dish .dish_info .user p {
	font-size: 24px;
	position: absolute;
	transform: translate(-50%, -50%);
	left: 50%;
	top: 50%;
}

.dish .dish_info .user img {
	position: absolute;
	transform: translate(-50%, -50%);
	left: 50%;
	top: 30%;
}

.dish .dish_info .rate {
	position: absolute;
	transform: translate(-50%, -50%);
	left: 25%;
	top: 60%;
	cursor: pointer;
}

.dish .dish_image {
	position: absolute;
	overflow: hidden;
	width: 50%;
	height: 550px;
	background-color: white;
}

.dish .dish_image img {
	position: absolute;
	transform: translate(-50%, -50%);
	top: 50%;
	left: 50%;
	width: 100%;
}

.dish .dish_function_buttons {
	margin-top: 32%;
}

.dish .dish_function_buttons img {
	width: 40px;
	margin: 5px;
}

.price {
	text-align: center;
	position: absolute;
	width: 270px;
	height: 55px;
	background-color: #960014;
	color: white;
	left: 75.85%;
	top: 76%;
}

.price p {
	height: 100%;
	position: relative;
	display: block;
	transform: translate(-50%, -50%);
	left: 50%;
	top: 5%;
	font-size: 32px;
}


.ingradients {
	position: absolute;
	margin-left: 10%;
	margin-top: 33%;
}

.ingradients h2 {
	margin-bottom: 15px;
}

.ingradients .info {
	font-size: 18px;
}


.video_btn {
	position: fixed;
	right: 10.1%;
	top: 90%;
	z-index: 4;
}

.video_btn img {
	width: 50px;
	transition-duration: 100ms;
}

.video_btn img:hover {
	width: 53px;
}

.video_btn img:active {
	width: 50px;
}


.steps_block {
	position: absolute;
	transform: translate(-50%);
	left: 50%;
	top: 1000px;
	width: 80%;
}

.steps_block h2 {
	position: absolute;
}

.steps {
	width: 100%;
	height: 100%;
}

.steps * {
	border-spacing: 0;
	border: solid black;
}

.steps .step_number {
	font-size: 50px;
	position: absolute;
	margin-top: 0px;
	margin-left: -170px;
}

.steps .step_text {
	padding: 100px;
}

.steps .step_img img {
	width: 530px;
}



