body {
	background: #eeece0;
	margin: 0;
}

* {
	font-family: "Myriad Pro", monospace;
}

.loginForm {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 24px;
	width: 537px;
}

.loginForm * {
	margin-bottom: 29px;
}

.password, .username {
	border: solid white 0px;
	font-size: 24px;
	height: 66px;
	width: 513px;
	padding-left: 10px;
	padding-right: 10px;
}

.btns-fb-gg {
	vertical-align: middle;
}

.btns-fb-gg .space {
	width: 43px;
}

.btn-facebook {
	background-color: #4d66a7;
	height: 56px;
	width: 247px;
	text-align: center;
}
.btn-facebook a {
	text-decoration: none;
	color: white;
}

.btn-google {
	background-color: #d2352c;
	height: 56px;
	width: 247px;
	text-align: center;
}
.btn-google a {
	text-decoration: none;
	color: white;
}

.btn-submit {
	border: solid white 0px;
	font-size: 24px;
	color: white;
	width: 537px;
	height: 56px;
	margin-top: 90px;
	margin-bottom: 5px;
}

