

.search {
	position: absolute;
	left: 840px;
	top: 290px;
	transform: translate(-50%, -50%);
	width: 545px;
	height: 50px;
}

.search-input {
	width: 545px;
	height: 50px;
	font-size: 26px;
}

.plus-product {
	width: 50px;
	height: 52px;
	font-size: 40px;
	margin-left: 575px;
}

.plus-product:active {
	background-color: #e3e3e3;
	font-size: 38px;
}

.plus-product p {
	margin-left: 15px;
	margin-top: 0px;
}

.main-titles {
	width: 100%;
	transform: translate(-50%, -50%);
	top: 170px;
	left: 50%;
	position: absolute;
	font-size: 72px;
}

.main-titles h1 {
	text-align: center;
}

.products {
	/*border: solid black;*/
	width: 1050px;
	height: 100px;
	transform: translate(-50%);
	left: 50%;
	top: 350px;
	position: absolute;
	color: white;
	display: flex;
	flex-wrap: wrap;
	list-style:none;
}

.products .product {
	padding-right: 10px;
	padding-left: 10px;
	max-height: 30px;
	min-width: 20px;
	color: white;
	background-color: black;
	transition-duration: 500ms;
	border-radius: 10px;
	padding: 10px;
	text-align: center;
	margin-right: 10px;
}

.products .product p {
	position: relative;
	transform: translate(-50%, -50%);
	left: 50%;
	bottom: 20%;
}

.products .product:hover {
	cursor: pointer;
	box-shadow: 0px 0px 20px 7px #451813;
}

@keyframes live-border {
	0% {
		border-radius: 24px;
		color: white;
		background-color: black;
	}
	50% {
		border-radius: 10px;
		color: black;
		background-color: white;
	}
	100% {
		border-radius: 24px;
		color: white;
		background-color: black;
	}
}