* {
	font-family: "Myriad Pro", monospace;
}

.containerblock{
	margin-top: 10%;
	position: absolute;
	width: 50%;
	height: 50%;

}

.title {
    font-size:160px;
    color: #451813;
	position: absolute;

}
.tip{
    font-size: 60px;
    color: #a95534;
	position: absolute;

}

.button{
    background: #451813;
    color: white;
    border-radius: 4px;
    display: block;
    width: 240px;
    padding: 20px 0;
    margin: 0 auto;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 30px;


}

.logotype{
    width: 140px;
    margin-left: 1900px;
    margin-top: 30px;
	border: solid black;
    
}


.container{
margin-left: 4%;
width:100%;
height: 100%;
border: solid black;
}

.search-input{
    font-size:18pt;
    height:70px;
    width: 35%;
    background: #451813;
     color: white;
     font-weight: bold;
}

/* .find_form{
	position: absolute;
	margin-top: 50%;
	border: solid black;

	
} */
.search{
	position: absolute;
	top: 50%;
	border: solid black;
}