* {
	font-family: "Myriad Pro", monospace;
}

.containerblock{
	margin-top: 6%;
	position: absolute;
	width: 50%;
	height: 50%;
	margin-left: 4%;

}

.title {
    font-size:160px;
    color: #451813;
	position: absolute;

}
.tip{
    font-size: 60px;
    color: #a95534;
	position: absolute;

}

.button{
    background: #451813;
    color: white;
    border-radius: 4px;
    display: block;
    width: 240px;
    padding: 20px 0;
    margin: 0 auto;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 30px;
	margin-top: 36%;
	position: absolute;
	margin-left: 45%;
}

.button a:hover{
	color: white;
	text-decoration: none;
}

.button a{
	color: white;
	text-decoration: none;
	transition-duration: 100ms;
}

.button a:active{
	color: white;
	text-decoration: none;
	font-size: 25px;
}

.logo{
    width: 140px;
    margin-left: 1900px;
    margin-top: 30px;
    
}

/* .find_form{
	position: absolute;
	margin-top: 50%;
	border: solid black;

	
} */
.search{
	position: absolute;
	top: 60%;
    left: 4%;
}

